:root {
  --shapeColorBlue: #1e90ff;
  --shapeColorRed: #ff1e1e;
  --shapeColorGreen: #065f15;
}
.main-box {
  display: flex;
  flex-wrap: wrap;
  height: 180px;
  width: 228px;
  border: 1px solid;
  background-color: #607d8b30;
  /* position: absolute;
        top: 0;
        left: 0;
        opacity: 0.8;   */
}

/* .stack-top{
  z-index: 9;
  margin: 20px; 
} */

.circle {
  height: 42px;
  width: 42px;
  background-color: var(--shapeColorBlue);
  border-radius: 50%;
}
.triangle-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 42px solid var(--shapeColorRed);
}

.square {
  height: 42px;
  width: 42px;
  background-color: var(--shapeColorGreen);
}

.empty-box {
  height: 50px;
  width: 50px;
  border: 1px solid;
  padding: 3px;
  margin: 3px;
  background-color: rgb(143 134 134 / 0%);
}

#canvas-id{
  position: relative;
}



