.main-box {
  display: flex;
  height: 200px;
  width: 220px;
  border: 1px solid;
  background-color: #5550;
}
.circle {
  height: 42px;
  width: 42px;
  background-color: #555;
  border-radius: 50%;
}
.triangle-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 42px solid #555;
}

.square {
  height: 42px;
  width: 42px;
  background-color: #555;
}

.empty-box {
  height: 50px;
  width: 50px;
  border: 1px solid;
  padding: 3px;
  margin: 3px;
  background-color: rgb(143 134 134 / 0%);
}
